.face {
    display: block;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
.frente {
    background-color: red;
    transform: translateZ(100px);
}
.direita {
    background-color: blue;
    transform: translateX(100px) rotateY(90deg);
}
.esquerda {
    background-color: green;
    transform: translateX(-100px) rotateY(-90deg);
}
.cima {
    background-color: yellow;
    transform: translateY(100px) rotateX(90deg);
}
.baixo {
    background-color: magenta;
    transform: translateY(-100px) rotateX(-90deg);
}
.tras {
    background-color: cyan;
    transform: translateZ(-100px) rotateY(180deg);
}
.cubo {
    transform-style: preserve-3d;
    width: 200px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 100px;
    transform: rotateX(10deg) rotateY(10deg);
}
.cubo:hover {
    animation-name: girar;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
}
@keyframes girar {
    from {
        transform: translateZ(100px) rotateX(10deg) rotateY(10deg);
    }
    to {
        transform: translateZ(100px) rotateX(360deg) rotateY(360deg);
    }
}